- title 'Dashboard'

%h3 Senaste transaktionerna
= render :partial => 'transactions/list', :locals => { :transactions => @recent_transactions }

%h3 Aktuella budgetar
= render :partial => 'budgets/list', :locals => { :budgets => @current_budgets }

