- title index_title(BudgetPost)

%h2
  = index_title(BudgetPost)
  = link_to image_tag("icons/add.png", :alt => "New budget post"), new_budget_post_path

= render :partial => "list", :locals => { :budget_posts => @budget_posts }

= paginate @budget_posts
