<%- title t('categories.title') %>
<h2><%= t('categories.index.header') %></h2>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @budget_posts.each do |budget_post| %>
  <tr>
    <td><%= link_to budget_post.name, budget_post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('categories.index.new'), new_budget_post_path %>
