- title @budget_post.name

%p= @budget_post.description

= render :partial => 'transactions/list', :locals => { :transactions => @transactions }

= link_to "Edit", edit_budget_post_path(@budget_post), :class => "btn"
= link_to "Delete", @budget_post, :confirm => 'Säker?', :method => :delete, :class => "btn danger"
