.nested-fields
  = f.inputs do
    = f.input :budget_post, {:include_blank => false}
    = f.input :amount
    %li
      %label
      = link_to_remove_association "Remove budget item", f, :class => "btn small"
