- title "Budget"

= render "list", { :budgets => @budgets }

= paginate @budgets

= link_to "New budget", new_budget_path, :class => "btn primary"

- content_for(:side) do
  %p
    Budgets are a central part of this application.
    Budgets allow you to plan your economy ahead of time,
    as well as to keep track of progress.
