- title "Budget"

= render "list", { :budgets => @budgets }

= paginate @budgets

- content_for(:side) do
  %h2 Actions
  %ul.none
    %li= link_to "New budget", new_budget_path, :class => "btn primary"
