- title t('budgets.title')
%h2
  = t('budgets.index.header')
  = link_to image_tag("icons/add.png", :alt => "New budget"), new_budget_path

= render :partial => "list", :locals => { :budgets => @budgets }
