- title index_title(ActsAsTaggableOn::Tag)

%h2
  = index_title(ActsAsTaggableOn::Tag)

%table
  %thead
    %tr
      %th Name
      %th Count
  %tbody
  - @tags.each do |tag|
    %tr
      %td= link_to tag.name, tag_path(tag)
      %td= tag.taggings.length

