<h2>Listing tags</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Count</th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag_path(tag) %></td>
    <td><%= tag.taggings.length %></td>
  </tr>
<% end %>
</table>

