- title show_title(@tag)
%h2
  = show_title(@tag)
  = link_to image_tag("icons/wrench.png", :alt => "Edit"), edit_tag_path(@tag)
  = link_to image_tag("icons/delete.png", :alt => "Delete"), tag_path(@tag), :confirm => 'Säker?', :method => :delete

= render :partial => 'transactions/list', :locals => { :transactions => @transactions }
