<%- title 'Kategorier' %>
<h2>Listar kategorier</h2>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, category %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny kategori', new_category_path %>
