%table
  %thead
    %th Tidsstämpel
    %th Belopp
    %th Beskrivning
  %tbody
    - transactions.each do |transaction|
      %tr
        %td= transaction.timestamp.to_s(:iso8601)
        %td= number_to_currency(transaction.amount) if transaction.amount
        %td= transaction.description if transaction.description
        %td
          =link_to image_tag("icons/zoom.png", :alt => "Show transaction"), transaction
          =link_to image_tag("icons/wrench.png", :alt => "Edit transaction"), edit_transaction_path(transaction)
          =link_to image_tag("icons/page_copy.png", :alt => "Clone transaction"), new_transaction_path(:template => transaction)
          =link_to image_tag("icons/delete.png", :alt => "Delete transaction"), transaction, :confirm => 'Are you sure?', :method => :delete
  %tfoot
    %th Tidsstämpel
    %th Belopp
    %th Beskrivning

