- title "Transaktion"

%h2
  Listar transaktioner
  = link_to image_tag("icons/add.png", :alt => "New transaction"), new_transaction_path

= render :partial => "list", :locals => { :transactions => @transactions }

= paginate @transactions
