<%- title "Transaktion" %>
<h2>Listar transaktioner</h2>

<table>
  <thead>
    <th>Tidsstämpel</th>
    <th>Beskrivning</th>
  </thead>
  <tbody>
<%- @transactions.each do |transaction| -%>
  <tr>
    <td><%= link_to transaction.timestamp, transaction %></td>
    <td><%= transaction.description if transaction.description %></td>
  </tr>
<%- end -%>
  </tbody>
  <tfoot>
    <th>Tidsstämpel</th>
    <th>Beskrivning</th>
  </tfoot>
</table>

<br />

<%= link_to 'Ny transaktion', new_transaction_path %>
