<%- title 'Konton' %>
<h2>Dina konton</h2>

<ul>
<%- @accounts.each do |account| %>
    <li><%= link_to account.name, account %> (<%= number_to_currency account.transactions.sum(:amount) %>)</li>
<%- end %>
</ul>

<br />

<%= link_to 'Nytt konto', new_account_path %>
